# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj Commented out, as project uses .obj model files

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# VS Code
.vscode/*
/Debug/*

# Eclipse
.cproject
.project
.settings/*

# Doxygen
docs/html/*
docs/latex/*

/Debug/
build*/
output*/
Data/Models/Ship*

# CLion
.idea/*
cmake-build-*/

#Latex
docs/*.aux
docs/*.dvi
docs/*.log
docs/*.synctex.gz

#docs/*.pdf
!/docs/images/*.pdf

# https://github.com/github/gitignore/blob/master/TeX.gitignore

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps

## Generated if empty string is given at "Please type another file name for output:"
docs/.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
